
//반응형
$breakpoints: (
  mobile: 480px,
  tablet: 1024px,
  desktop: 1030px
);

@mixin respond($device) {
  @media (max-width: map-get($breakpoints, $device)) {
    @content;
  }
}
@mixin flex-layout($dir:row,$justify:center,$align:center,$gap:1rem){
    display: flex;
    flex-direction: $dir;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}