@use "../assets/scss/variables" as*;
@use "../assets/scss/mixin" as*;
@use "../assets/scss/font" as*;
.me{
    @include flex-layout(column,center,center);
    padding: 3rem;
    height: 100%;
    color: #182434;
    // width: 80%;
    .txt{
        h1{
            font-size: 48px;
            @include respond(tablet){
                font-size: 32px;
            }
            @include respond(mobile){
                font-size: 24px;
            }
        }
    }
    .box{
        @include flex-layout(row,center,center,2rem);
        padding: 0 3rem;
        height: auto;
        background: rgba(97, 164, 250, 0.4);
        backdrop-filter: blur(1px);
        -webkit-backdrop-filter: blur(1px);
        border-radius: 25px;
        .img{
            padding:  0.5rem;
            img{
                border-radius: 25px;
                height: 300px;
                cursor: pointer;
            transition: 0.5s;
            &:hover{
                top: 10%;
                transform: translateY(-10%);
            }
            @include respond(tablet){
                height: 18vh;
            }
            @include respond(mobile){
                height: 15vh;
            }
            }
        }
        .line{
            opacity: 0.5;
            font-size: 40px;        // 기본 굵기 결정
            transform: scaleY(7);   // 세로 길이만 증가
            transform-origin: center;
            color: #182434;
            @include respond(tablet){
                font-size: 30px;
                transform: scaleY(5);
            }
            @include respond(mobile){
                font-size: 12px;
                transform: scaleY(10);
            }
        }
        .txt{
            h1{
                font-size: 48px;
                @include respond(tablet){
                font-size: 20px;
            }
            @include respond(mobile){
                font-size: 16px;
            }
            }
            h3{
                @include respond(tablet){
                    font-size: 10px;
                }
                @include respond(mobile){
                    font-size: 8px;
                }
            }
        }
            
    }
    .track{
        @include flex-layout(column,center,center);
        width: 100%;
        .txt{
                @include flex-layout(row,left,center);
                width: 60%;
                @include respond(mobile){
                    width: 80%;
                }
                h2{
                width: fit-content;
                cursor: pointer;
                &:hover{
                    border-bottom: 2px solid #182434;
                }
                @include respond(tablet){
                    font-size: 20px;
                }
                @include respond(mobile){
                    font-size: 14px;
                }
                
            }
        }
        .track-list{
            @include flex-layout(row,center,center,5rem);
            border-top: 0.5px solid #182434;
            border-bottom: 0.5px solid #182434;
            width: 60%;
            @include respond(tablet){
                @include flex-layout(row,center,center,2rem);
            
            }
            @include respond(mobile){
                @include flex-layout(row,center,center,0.5rem);
                width: 100%;
            }
            .num{
                font-size: 48px;
                color: #182434;
                @include respond(tablet){
                    font-size: 24px;
                }
                @include respond(mobile){
                    font-size: 16px;
                }
            }
            .txt{
                @include flex-layout(row,left,center);
                width: 80%;
                h2{
                cursor: pointer;
                &:hover{
                    border-bottom: 2px solid #182434;
                }
            }
            @include respond(mobile){
                width: 70%;
                    h2{
                        font-size: 12px;
                
                    }
                    p{
                        font-size: 8px;
                    }
                }
            @include respond(tablet){
                h2{
                    font-size: 18px;
                
                }
                p{
                    font-size: 12px;
                }
            }
            
            
        }
        
        .emoji{
            width: 40px;
            height: 40px;
            color: #9FBFE5;
            transition: 0.5s;
            &:hover{
                width: 60px;
                height: 60px;
            }
            @include respond(tablet){
                width: 20px;
                height: 20px;
                &:hover{
                width: 30px;
                height: 30px;
            }
            }
            @include respond(mobile){
                width: 15px;
                height: 15px;
                &:hover{
                width: 20px;
                height: 20px;
            }
            }
        }
    }
}
.introducting{
    width: 60%;
    @include respond(tablet){
        h2{
        font-size: 20px;
    }
    p{
        font-size: 12px;
    }
    }
    @include respond(mobile){
        width: 80%;
        h2{
        font-size: 14px;
    }    p{
        font-size: 8px;
    }
}
}
}
