@use "../assets/scss/variables" as*;
@use "../assets/scss/mixin" as*;
@use "../assets/scss/font" as*;
.me{
    @include flex-layout(column,center,center);
    @include ko-Body-Large;
    padding: 0;
    height: 100%;
    color:#fff;
    .blur{
         @include flex-layout(column,center,center);
        height: auto;
        width: 70% ;
        padding: 1rem 0;
        border: 0.5px solid #accefa;
        border-radius: 2rem;
        z-index: 2;
        background-color: rgba(41, 72, 212, 0.2);
        backdrop-filter: blur(5px);
        box-shadow: 0 10px 10px #97c2f9;
        @include respond(mobile){
            width: 60%;
        }
    }
    .txt{
        padding: 1rem;
        h1{
            @include en-Heading;
            @include respond(tablet){
                @include en-Title;
            }
            @include respond(mobile){
                @include en-Body-Large;
            }
        }
    }
    .box{
        @include flex-layout(row,center,center,1rem);
        padding: 1rem;
        width: 80%;
        height: auto;
        background: rgba(194, 217, 246, 0.2);
        backdrop-filter: blur(1px);
        -webkit-backdrop-filter: blur(1px);
        box-shadow: 1px 2px 2px #182434;
        border-radius: 25px;
        aspect-ratio: 3/1;
        .img{
            padding:  0.5rem;
            img{
                border-radius: 25px;
                height: 300px;
                cursor: pointer;
            transition: 0.5s;
            &:hover{
                top: 10%;
                transform: translateY(-10%);
            }
            @include respond(tablet){
                height: 18vh;
            }
            @include respond(mobile){
                height: 15vh;
            }
            }
        }
        .line{
            opacity: 0.5;
            font-size: 40px;        // 기본 굵기 결정
            transform: scaleY(7);   // 세로 길이만 증가
            transform-origin: center;
            color: #d8dcff;
            @include respond(tablet){
                font-size: 30px;
                transform: scaleY(5);
            }
            @include respond(mobile){
                font-size: 12px;
                transform: scaleY(10);
            }
        }
        .txt{
            h1{
                font-size: 48px;
                color: #accefa;
                @include respond(tablet){
                font-size: 20px;
            }
            @include respond(mobile){
                font-size: 16px;
            }
            }
            h3{
                @include ko-Body-Medium;
                @include respond(tablet){
                    font-size: 10px;
                }
                @include respond(mobile){
                    font-size: 8px;
                }
            }
        }
            
    }
    .track{
        @include flex-layout(column,center,center);
        padding: 1rem;
        width: 100%;
        .txt{
                @include flex-layout(row,left,center);
                width: 60%;
                @include respond(mobile){
                    width: 80%;
                }
                h2{
                width: fit-content;
                @include respond(tablet){
                    font-size: 20px;
                }
                @include respond(mobile){
                    font-size: 14px;
                }
                
            }
        }
        .track-list{
            @include flex-layout(row,center,center,5rem);
            border-bottom: 0.5px solid rgb(255, 255, 255);
            border-top: 0.5px solid rgb(255, 255, 255);
            width: 80%;
            height: 15vh;
            z-index: 2;
            @include respond(tablet){
                @include flex-layout(row,center,center,2rem);
                height: 8vh;
            }
            @include respond(mobile){
                @include flex-layout(row,center,center,0.3rem);
                width: 80%;
                height: 8vh;
            }
            .num{
                font-size: 48px;
                color: #accefa;
                @include respond(tablet){
                    font-size: 24px;
                }
                @include respond(mobile){
                    font-size: 16px;
                }
            }
            .txt{
                @include flex-layout(row,left,center);
                width: 80%;
                
            @include respond(mobile){
                width: 70%;
                    h2{
                        font-size: 12px;
                
                    }
                    p{
                        font-size: 8px;
                    }
                }
            @include respond(tablet){
                h2{
                    font-size: 18px;
                
                }
                p{
                    font-size: 12px;
                }
            }
            
            
        }
        
        .emoji{
            cursor: pointer;
            width: 40px;
            height: 40px;
            color: rgba(114, 175, 255, 0.876);
            transition: 0.5s;
            &:hover{
                width: 60px;
                height: 60px;
            }
            @include respond(tablet){
                width: 20px;
                height: 20px;
                &:hover{
                width: 30px;
                height: 30px;
            }
            }
            @include respond(mobile){
                width: 15px;
                height: 15px;
                &:hover{
                width: 20px;
                height: 20px;
            }
            }
        }
    }
}
.introducting{
    width: 60%;
    z-index: 10;
    padding: 1rem;
    @include respond(tablet){
        h2{
        font-size: 20px;
    }
    p{
        font-size: 12px;
    }
    }
    @include respond(mobile){
        width: 80%;
        h2{
        font-size: 14px;
    }    p{
        font-size: 8px;
    }
}
}
}
