@use "../assets/scss/variables" as*;
@use "../assets/scss/mixin" as*;
@use "../assets/scss/font" as*;
.me{
    @include flex-layout(column,center,left);
    padding: 2rem;
    height: 100vh;
    color: #182434;
    .txt{
        h1{
            font-size: 48px;
        }
    }
    .box{
        @include flex-layout(row,left,center,2rem);
        padding: 0 3rem;
        height: 400px;
        background: rgba(97, 164, 250, 0.4);
        backdrop-filter: blur(1px);
        -webkit-backdrop-filter: blur(1px);
        border-radius: 25px;
        .img{
            padding: 2rem;
            img{
                // width: 300px;
                border-radius: 25px;
                height: 300px;
                cursor: pointer;
            transition: 0.5s;
            &:hover{
                top: 10%;
                transform: translateY(-10%);
            }
            }
        }
        .line{
            font-size: 40px;        // 기본 굵기 결정
            transform: scaleY(7);   // 세로 길이만 증가
            transform-origin: center;
            color: #182434;
        }
        .txt{
            h1{
                font-size: 48px;
            }
        }
            
    }
    .track{
        @include flex-layout(column,center);
        .txt{
            @include flex-layout(row,left);
            width: 100%;
        }
        .track-list{
            @include flex-layout(row,center,center,5rem);
            width: 45%;
            border-top: 0.5px solid #182434;
            border-bottom: 0.5px solid #182434;
            .num{
                font-size: 48px;
                color: #182434;
            }
            .txt{
                @include flex-layout(row,left,center,3rem);
                width: 50%;
                h2{
                width: fit-content;
                cursor: pointer;
                &:hover{
                    border-bottom: 2px solid #182434;
                }
            }
        }
        .emoji{
            width: 40px;
            height: 40px;
            color: #9FBFE5;
            transition: 0.5s;
            &:hover{
                width: 60px;
                height: 60px;
            }
        }
    }
}
}