@use "../assets/scss/variables"as*;
@use "../assets/scss/mixin"as*;
@use "../assets/scss/font"as*;
.projects{
    @include flex-layout(column,center,center);
    @include ko-Display;
    padding: 2rem 0;
    font-size: 24px;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    .tabs {
        @include flex-layout(row,center,center);
        z-index: 2;
        list-style: none;
        background: none;
        border: none;
        border-bottom: 5px solid rgba(104, 94, 253, 0.2);
        box-shadow: 0 2px 0 #b1befa;
        padding: 0 0.5rem;
        width: fit-content;
        transition: 0.5s;
        button{
            transition: 0.5s;
            font-size: 24px;
            color: #ffffff;
        cursor: pointer;
        opacity: 0.7;
        border: none;
        background: none;
        @include en-Body-Large;
        @include respond(tablet){
            font-size: 18px;
        }
        @include respond(mobile){
            font-size: 14px;
        }
        &:hover{
            color: #006ce7;
        }
        &.active{
            color: #76b0fc;
            opacity: 1;
            border-bottom: 3px solid #76b0fc;
        }
        
    }
        
    }

    .tabs.active {
    opacity: 100;
    font-weight: 700;
    }
    
        .panel{
            width: 100%; 
            z-index: 2;
            padding: 2rem;
            // img{
            //     width: 100%;
            //     max-width: 650px;
            // }
        }
    
@include respond(tablet){
    .panel{
        width: 800px;
    }
}
@include respond(mobile){
    .tabs{
        button{
            font-size: 14px;
        }
        
    }
    .panel{
        @include flex-layout(column,center,center);
        width: 500px; 
        // img{
        //     width: 100%;
        //     max-width: 300px;
        // }
    }
}
}