@use "../assets/scss/variables" as*;
@use "../assets/scss/mixin" as*;
@use "../assets/scss/font" as*;
.skill{
    @include flex-layout(column,center,center,8rem);
    color: #182434;
    padding: 5rem;
    height: 100%;
    overflow-x: hidden;
    .comment{
        padding: 1.5rem;
        @include flex-layout(row,space-around,center);
        width: 60%;
        .profile{
            @include flex-layout();
        }
        input{
            border: none;
            width: fit-content;
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-left: 1rem;
            padding-right: 3rem;
            border-radius: 25px;
            box-shadow: 0 2px 2px #9BC0EB;
            background-color: rgba(91, 153, 235, 0.23);
            backdrop-filter: blur(0.14px);
            -webkit-backdrop-filter: blur(0.14px);
            &::placeholder{
                @include flex-layout(row,left);
                color: #182434;
            }
        }
        button{
            cursor: pointer;
            border: none;
            padding: 0.5rem 1rem;
            font-size: 16px;
            border-radius: 25px;
            box-shadow: 0 2px 2px #9BC0EB;
            background-color: rgba(91, 153, 235, 0.23);
            backdrop-filter: blur(0.14px);
            -webkit-backdrop-filter: blur(0.14px);
            &:hover{
                background-color: rgba(15, 98, 207, 0.23);
            }
        }
    }
    .img{
        z-index: 9998;
        overflow-x: hidden;
        // width: 100%;
        
    }
}