@use "../assets/scss/mixin"as*;
@use "../assets/scss/variables"as*;
@use "../assets/scss/font"as*;
.team {
    color: #182434;
    ul{
        @include flex-layout();
        list-style: none;
    img{
        transition: 1s;
        cursor: pointer;
        &:hover{
            top:0;
            transform: translateY(-3%);
        }
        
        
    }
    h2{
        cursor: pointer;
        font-size: 24px;
        &:hover{
            border-bottom: 0.1px solid #182434;
            width: fit-content;
        }
    } 
}
}
.clone {
  position: relative;
  overflow: hidden;
  color: #182434;

  ul {
    @include flex-layout(row, flex-start, stretch);
    list-style: none;
    padding: 0;
    margin: 0;

    width: 878px;
    transition: transform 0.4s ease;

    li {
    //   min-width: 100%;
    width: 979px;
      text-align: center;
    }

    img {
      width: 100%;
      display: block;
      cursor: pointer;
      transition: transform 0.6s;

      &:hover {
        transform: translateY(-3%);
      }
    }

    h2 {
      margin-top: 12px;
      font-size: 24px;
      cursor: pointer;

      &:hover {
        border-bottom: 0.1px solid #182434;
        width: fit-content;
        margin: 12px auto 0;
      }
    }
  }

  .nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border: none;
    padding: 10px 14px;
    cursor: pointer;
    z-index: 10;

    &.left {
      left: 10px;
    }

    &.right {
      right: 10px;
    }
  }
}
