@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@font-face {
  font-family: "Arita Buri KR SemiBold";
  src: url("../fonts/AritaBuriKR-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arita Buri KR Medium";
  src: url("../fonts/AritaBuriKR-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/*한글 폰트*/
/*영문 폰트*/
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  position: absolute;
  z-index: 9999;
  color: #182434;
}
.header ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  top: 1%;
  position: fixed;
  width: auto;
  padding: 0.5rem;
  border-radius: 25px;
  list-style: none;
  box-shadow: 0 2px 2px #9BC0EB;
  background-color: rgba(143, 188, 248, 0.23);
  backdrop-filter: blur(0.14px);
  -webkit-backdrop-filter: blur(0.14px);
}
.header ul li.nav {
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 25px;
  font-family: "Arvo", sans-serif;
  font-weight: 300;
  font-size: 24px;
  cursor: pointer;
}
.header ul li.nav.active {
  color: #5d6c80;
  background-color: rgba(15, 112, 240, 0.24);
  font-weight: bold;
  transition: 0.1s;
}
@keyframes hover {
  0% {
    opacity: 10%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
.header ul li.nav .menu-item {
  text-decoration: none;
  color: rgba(15, 112, 240, 0.24);
}
.header ul li.nav .menu-item.active {
  box-shadow: 0 4px 4px #9BC0EB;
  background-color: rgba(15, 112, 240, 0.24);
  backdrop-filter: blur(0.14px);
  -webkit-backdrop-filter: blur(0.14px);
  padding: 0.5rem 1.5rem;
}
@keyframes hover {
  0% {
    opacity: 10%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
.header ul li.nav:hover {
  box-shadow: 0 4px 4px #9BC0EB;
  background-color: rgba(15, 112, 240, 0.24);
  backdrop-filter: blur(0.14px);
  -webkit-backdrop-filter: blur(0.14px);
  padding: 0.5rem 1.5rem;
}
@keyframes hover {
  0% {
    opacity: 10%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
.header ul li {
  color: #0151ad;
}

@media (max-width: 768px) {
  .header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    top: 1%;
    position: fixed;
    padding: 0.5rem 1.5rem;
    border-radius: 25px;
    list-style: none;
    box-shadow: 0 2px 2px #9BC0EB;
    background-color: rgba(143, 188, 248, 0.23);
    backdrop-filter: blur(0.14px);
    -webkit-backdrop-filter: blur(0.14px);
  }
  .header ul li.nav {
    padding: 0.5rem;
    font-family: "Arvo", sans-serif;
    font-weight: 300;
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .header {
    width: 100%;
  }
  .header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    top: 1%;
    position: fixed;
    padding: 0.3rem 1rem;
    border-radius: 25px;
    list-style: none;
    box-shadow: 0 2px 2px #9BC0EB;
    background-color: rgba(143, 188, 248, 0.23);
    backdrop-filter: blur(0.14px);
    -webkit-backdrop-filter: blur(0.14px);
  }
  .header ul li.nav {
    padding: 0.1rem;
    font-family: "Arvo", sans-serif;
    font-weight: 300;
    font-size: 16px;
    font-size: 8px;
  }
  .header ul li.nav:hover {
    padding: 0.1rem 0.5rem;
  }
}/*# sourceMappingURL=layout.css.map */