@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@font-face {
  font-family: "Arita Buri KR SemiBold";
  src: url("../fonts/AritaBuriKR-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arita Buri KR Medium";
  src: url("../fonts/AritaBuriKR-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/*한글 폰트*/
/*영문 폰트*/
.me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: "Arita Buri KR Medium";
  font-weight: 500;
  font-size: 24px;
  padding: 0;
  height: 100%;
  color: #fff;
}
.me .blur {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: auto;
  width: 70%;
  padding: 1rem 0;
  border: 0.5px solid #accefa;
  border-radius: 2rem;
  z-index: 2;
  background-color: rgba(41, 72, 212, 0.2);
  backdrop-filter: blur(5px);
  box-shadow: 0 10px 10px #97c2f9;
}
@media (max-width: 480px) {
  .me .blur {
    width: 90%;
  }
}
.me .txt {
  padding: 1rem;
}
.me .txt h1 {
  font-family: "Arvo", sans-serif;
  font-weight: 500;
  font-size: 40px;
}
@media (max-width: 1024px) {
  .me .txt h1 {
    font-family: "Arvo", sans-serif;
    font-weight: 300;
    font-size: 32px;
  }
}
@media (max-width: 480px) {
  .me .txt h1 {
    font-family: "Arvo", sans-serif;
    font-weight: 300;
    font-size: 24px;
  }
}
.me .box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  width: 80%;
  height: auto;
  background: rgba(194, 217, 246, 0.2);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  box-shadow: 1px 2px 2px #182434;
  border-radius: 25px;
  aspect-ratio: 3/1;
}
.me .box .img {
  padding: 0.5rem;
}
.me .box .img img {
  border-radius: 25px;
  height: 300px;
  cursor: pointer;
  transition: 0.5s;
}
.me .box .img img:hover {
  top: 10%;
  transform: translateY(-10%);
}
@media (max-width: 1024px) {
  .me .box .img img {
    height: 18vh;
  }
}
@media (max-width: 480px) {
  .me .box .img img {
    height: 15vh;
  }
}
.me .box .line {
  opacity: 0.5;
  font-size: 40px;
  transform: scaleY(7);
  transform-origin: center;
  color: #d8dcff;
}
@media (max-width: 1024px) {
  .me .box .line {
    font-size: 30px;
    transform: scaleY(5);
  }
}
@media (max-width: 480px) {
  .me .box .line {
    font-size: 12px;
    transform: scaleY(10);
  }
}
.me .box .txt h1 {
  font-size: 48px;
  color: #accefa;
}
@media (max-width: 1024px) {
  .me .box .txt h1 {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .me .box .txt h1 {
    font-size: 16px;
  }
}
.me .box .txt h3 {
  font-family: "Arita Buri KR Medium";
  font-weight: 500;
  font-size: 16px;
}
@media (max-width: 1024px) {
  .me .box .txt h3 {
    font-size: 10px;
  }
}
@media (max-width: 480px) {
  .me .box .txt h3 {
    font-size: 8px;
  }
}
.me .track {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
}
.me .track .txt {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 1rem;
  width: 60%;
}
@media (max-width: 480px) {
  .me .track .txt {
    width: 80%;
  }
}
.me .track .txt h2 {
  width: fit-content;
}
@media (max-width: 1024px) {
  .me .track .txt h2 {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .me .track .txt h2 {
    font-size: 14px;
  }
}
.me .track .track-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  border-bottom: 0.5px solid rgb(255, 255, 255);
  border-top: 0.5px solid rgb(255, 255, 255);
  width: 80%;
  height: 15vh;
  z-index: 2;
}
@media (max-width: 1024px) {
  .me .track .track-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 8vh;
  }
}
@media (max-width: 480px) {
  .me .track .track-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    width: 80%;
    height: 8vh;
  }
}
.me .track .track-list .num {
  font-size: 48px;
  color: #accefa;
}
@media (max-width: 1024px) {
  .me .track .track-list .num {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  .me .track .track-list .num {
    font-size: 16px;
  }
}
.me .track .track-list .txt {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 1rem;
  width: 80%;
}
@media (max-width: 480px) {
  .me .track .track-list .txt {
    width: 70%;
  }
  .me .track .track-list .txt h2 {
    font-size: 12px;
  }
  .me .track .track-list .txt p {
    font-size: 8px;
  }
}
@media (max-width: 1024px) {
  .me .track .track-list .txt h2 {
    font-size: 18px;
  }
  .me .track .track-list .txt p {
    font-size: 12px;
  }
}
.me .track .track-list .emoji {
  cursor: pointer;
  width: 40px;
  height: 40px;
  color: rgba(114, 175, 255, 0.876);
  transition: 0.5s;
}
.me .track .track-list .emoji:hover {
  width: 60px;
  height: 60px;
}
@media (max-width: 1024px) {
  .me .track .track-list .emoji {
    width: 20px;
    height: 20px;
  }
  .me .track .track-list .emoji:hover {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 480px) {
  .me .track .track-list .emoji {
    width: 15px;
    height: 15px;
  }
  .me .track .track-list .emoji:hover {
    width: 20px;
    height: 20px;
  }
}
.me .introducting {
  width: 60%;
  z-index: 10;
  padding: 1rem;
}
@media (max-width: 1024px) {
  .me .introducting h2 {
    font-size: 20px;
  }
  .me .introducting p {
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  .me .introducting {
    width: 80%;
  }
  .me .introducting h2 {
    font-size: 14px;
  }
  .me .introducting p {
    font-size: 8px;
  }
}/*# sourceMappingURL=me.css.map */