@use "../assets/scss/variables" as*;
@use "../assets/scss/mixin" as*;
@use "../assets/scss/font" as*;
.header{
    @include flex-layout(row);
    width: 100%;
    position: absolute;
    ul{
    @include flex-layout(row);
    top: 1%;
    position: fixed;
    width: auto;
    padding: 0.5rem 1.5rem;
    border-radius: 25px;
    list-style: none;
    box-shadow: 0 2px 2px #9BC0EB;
    background-color: rgba(143, 188, 248, 0.23);
    backdrop-filter: blur(0.14px);
  -webkit-backdrop-filter: blur(0.14px);
    
        text-decoration: none;
        li.nav{
            padding: 0.5rem;
            color: #182434;
            @include font-face;
            &:hover{
            box-shadow: 0 4px 4px #9BC0EB;
            border-radius: 25px;
            background-color: rgba(15, 112, 240, 0.24);
            backdrop-filter: blur(0.14px);
            -webkit-backdrop-filter: blur(0.14px);
        }
    
}
    li{
        color: #0151ad;
    }
    
}
}