@use "../assets/scss/variables" as*;
@use "../assets/scss/mixin" as*;
@use "../assets/scss/font" as*;
.header{
    @include flex-layout(row, space-around, center);
    width: 100%;
    position: absolute;
    z-index: 9999;
    ul{
    @include flex-layout(row,space-around,center);
    top: 1%; 
    position: fixed;
    width: 70%;
    padding: 0 1rem;
    border-radius: 25px;
    list-style: none;
    box-shadow: 1px 2px 2px #9BC0EB;
    background-color: rgba(104, 94, 253, 0.2);
    backdrop-filter: blur(3px);
    background-image: none;
    .menu-item{
        text-decoration: none;
        padding: 0;
        cursor:  pointer;
        transition: 0.5s;
        border-radius: 25px;
        @include en-Body-Large;
        cursor: pointer;
        background-image: none;
    &.active {
            color:#97c2f9;
            background-color: rgba(8, 0, 72, 0.5);
            backdrop-filter: blur(5px);
            box-shadow: 1px 3px 3px #97c2f9;
            font-weight: bold;
            transition: 0.5s;
            padding: 0.5rem 1rem;
            @keyframes hover {
                0%{ opacity: 10%;}
                50%{ opacity: 50%;}
                100%{ opacity: 100%;}
            }
        }
        &:hover{
            // box-shadow: 0 4px 4px #9BC0EB;
            background-color: rgba(15, 112, 240, 0.2);
            backdrop-filter: blur(20px);
            box-shadow: 1px 4px 4px #97c2f9;
            padding: 0.5rem 1.5rem;
            @keyframes hover {
                0%{ opacity: 10%;}
                50%{ opacity: 50%;}
                100%{ opacity: 100%;}
            }
        }
        
    }
    li{
        color: #60a8f5;
    }
    
}
}
@include respond(tablet){
    .header{
        ul{
            width: 80%;
    .menu-item{
        @include en-Body-Medium;
        font-size: 12px;
        }}
    }
}
@include respond(mobile){
    .header{
        ul{
            width: 85%;
            .menu-item{
        font-size: 8px;
}
}
    }
}

.main{
    @include flex-layout(column,center,center);
    .playbar{
    @include flex-layout(row,space-around,center);
    position: fixed;
    z-index: 999;
    width: 40%;
    background-color: rgba(104, 94, 253, 0.2);
    backdrop-filter: blur(0.5px);
    bottom: 2%;
    box-shadow: 1px 2px 2px #97c2f9;
    border-radius: 2rem;
    height: 10%;
    .playbar-btn{
        color:#97c2f9;
        background: none;
        border: none;
        transition: 0.5s;
        &:hover{
            background-color: rgba(8, 0, 72, 0.5);
            border-radius: 0.8rem;
            box-shadow: 1px 4px 4px #60a8f5;
            backdrop-filter: blur(10px);
            padding: 1rem;
        }
        .btn{
            cursor: pointer;
        }
    }
    @include respond(tablet){
        height: 5%;
    }
    @include respond(mobile){
        height: 7%;
    }
  }
}
